$color-primary: #455a64;
$color-primary-light: #718792;
$color-primary-dark: #1c313a;


$color-secondary: #ffab00;
$color-secondary-light: #ffdd4b;
$color-secondary-dark: #c67c00;

$color-white: #fff;
$color-black: #000;

